<!DOCTYPE html> <!-- Copyright 2020 HSNU1481 All Rights Reserved. -->
<html>
<head>
    <title>成果發表 預覽</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, viewport-fit=cover">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vant@2.2/lib/index.css">
    <script src="https://cdn.jsdelivr.net/npm/vant@2.2/lib/vant.min.js"></script>
    <van-number-keyboard safe-area-inset-bottom />
    <script>
    MathJax = {
        tex: {
            inlineMath: [['$', '$'], ['\\(', '\\)']]
        }
    };
    </script>
    <script async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
    <script>
    var loc_map = (function(){
        var x = location.href;
        var KVs = x.search(/\?/)>-1?x.substr(x.search(/\?/)+1).split("&"):[];
        var m = {};
        for(i in KVs) {
            let KV = KVs[i].split("=");
            m[KV[0]] = KV[1];
        }
        return m;
    })();
    </script>
    <style>
    * {
        font-family: Verdana, '微軟正黑體', 'Microsoft JhengHei', 'PingFang', sans-serif;
        letter-spacing: 0.5px;
    }
    </style>
</head>
<body>
    <div id="app">
        <van-tabs v-model="tab" animated scrollspy>
            <van-tab v-for="subject in researches" :title="subject.name">
                <van-tabs v-model="subtab" sticky animated scrollspy>
                    <van-tab v-for="content in subject.contents" :title="title(content)">
                        <van-row type="flex" justify="center">
                            <van-col span="22" v-bind:style="{ maxWidth: '1000px' }">
                                <br>
                                <div v-for="content in subject.contents" v-html="render(content)"></div>
                            </van-col>
                        </van-row>
                    </van-tab>
                </van-tabs>
            </van-tab>
        </van-tabs>
    </div>
    <script>
    async function get() {
        if(localStorage["sroc-ct"] && Date.now() < Number(localStorage["sroc-ct"]) + 30000) 
            return JSON.parse(localStorage["sroc-cache"]);
        var data = {};
        let index = await fetch("./Research/index").then(r=>r.json());
        for(var sub in index) {
            data[sub] = { name: sub, contents:[] };
            for(var i = 0; i < index[sub].length; i++) {
                let sro = [];
                let srf = await fetch("./Research/"+sub+"/"+index[sub][i]).then(r=>r.text());
                let objs = srf.split('\n');
                for(var j = 0; j < objs.length; j++) {
                    let obj = {};
                    obj.type = objs[j].substr(0, objs[j].search(" "));
                    if(obj.type == "title") {
                        obj.title = objs[j].substr(objs[j].search(" ")+1);
                    }
                    else if(obj.type == "text") {
                        obj.text = objs[j].substr(objs[j].search(" ")+1);
                    }
                    else if(obj.type == "image") {
                        obj.image = objs[j].substr(objs[j].search(" ")+1);
                    }
                    sro.push(obj);
                }
                data[sub]["contents"].push(sro);
            }
        }
        localStorage["sroc-cache"] = JSON.stringify(data);
        localStorage["sroc-ct"] = Date.now();
        return data;
    }
    
    get().then(researches => {
        window.app = new Vue({
            el: "#app",
            mounted: function() {
                setTimeout(() => {
                    MathJax.typesetPromise().then(() => {
                        console.log("Rendered MathJax.");
                    }).catch(e => {
                        console.error(e);
                    });
                }, 50);
            },
            watch: {
                tab: function(n) {
                    console.log("Tab Switched To " + n);
                    history.pushState({tab: n}, "", "?tab="+n);
                    setTimeout(() => {
                        MathJax.typesetPromise().then(() => {
                            console.log("Rendered MathJax.");
                        }).catch(e => {
                            console.error(e);
                        });
                    }, 50);
                }
            },
            methods: {
                title: function(content) {
                    var title = "";
                    for(var i = 0; i < content.length; i++) {
                        if(content[i].type == "title") {
                            title = content[i].title;
                            break;
                        }
                    }
                    return title;
                },
                render: function(content) {
                    var output = "";
                    for(var i = 0; i < content.length; i++) {
                        if(content[i].type == "title") {
                            var title = document.createElement("h2");
                            title.innerHTML = content[i].title;
                            output += title.outerHTML;
                        }
                        else if(content[i].type == "text") {
                            var text = document.createElement("p");
                            text.innerHTML = content[i].text;
                            output += text.outerHTML;
                        }
                        else if(content[i].type == "image") {
                            var image = document.createElement("img");
                            image.setAttribute("src", content[i].image);
                            image.setAttribute("class", "van-image__img");
                            image.setAttribute("style", "max-width: 600px; object-fit: contain;");
                            output += image.outerHTML;
                        }
                    }
                    return output;
                }
            },
            data: {
                subtab: loc_map["subtab"] ? Number(loc_map["subtab"]) : 0,
                tab: loc_map["tab"] ? Number(loc_map["tab"]) : 0,
                researches: researches
            }
        });
    });
    document.body.addEventListener("keydown", e => {
        let subjects = 7;
        if(e.keyCode == 37) {
            app._data.tab = (app._data.tab + subjects - 1) % subjects;
        }
        if(e.keyCode == 39) {
            app._data.tab = (app._data.tab + 1) % subjects;
        }
    });
    </script>
</body>
</html>
